
// Principal Colors

$master-color : #022144;
$main-color : #FFC134;
$sub-color : #E73635;

$light-color : #fff;
$light-gray-color : #dfe6e9;

// Breakpoints
$size-xs: 390px;
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;
